## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<section class="container about" style="width: auto;">

    <h2>Technical Issue</h2>
    <p style="text-align: justify;">Pablo Orduña Fernandez, Deusto Foundation,<br>
    email: pablo.orduna [at]deusto.es., Language: [English, Spanish]</p>

    <p style="text-align: justify;">Olga Dziabenko, Deusto Foundation, <br>
    email: olga.dziabenko[at]deusto.es, Language: [English, Russian, Ukrainian]</p>

    <p style="text-align: justify;">Iratxe Menchaca Sierra, University of Deusto, <br>
    email: iratxe.mentxaka@deusto.es, Language: [Spanish]</p>

    <p style="text-align: justify;">Eleftheria Tsourlidaki, Ellinogermaniki Agogi, <br>
    email: eleftheria[at]ea.gr, Language: [English, Greek]</p>

    <p style="text-align: justify;">Jüri Lõssenko, Hariduse Infotehnoloogia Sihtasutus, <br>
    email: Jyri.Lossenko[at]hitsa.ee, Language: [Estonian, English]</p>

    <p style="text-align: justify;">Vida Žviniene,  Lithuanian Association of Distance and E-Learning,
    <br> email: v.zviniene[at]isi.vdu.lt, Language: [Lithuanian, English]</p>

    <p style="text-align: justify;">Dominique Persano Adorno, Universita Degli Studi di Palermo,<br> email: dominique.persanoadorno[at]unipa.it , Language: [Italian, English]</p>


</section>
