## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Collection</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
  </script>
</%block>

<style>
table, th, td {
    border: 0px solid white;
    border-collapse: collapse;

}

th, td {
    padding: 5px;
    text-align: left;
}
</style>

<section class="container about" style="width: auto;">
  <section class="vision">
    <section class="message left" id="about">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/book-books-circle-curly-education-2869/
        -->
        <img src="${static.url('themes/odltheme/images/about.jpg')}" alt="" />
      </div>
      <article>
        <h2>Collection</h2>

        <p>We are working on this page. Please come back soon!</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>
</section>



