## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('scenarios')}">Scenarios</a></li>
          <li><a href="${reverse('collection')}">Collection</a></li>
          <li><a href="${reverse('about')}">Contact</a></li>
          <!--<li><a href="${reverse('tos')}">Terms of Service</a></li>-->
          <!--<li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>-->
          <!--<li><a href="${reverse('tos')}#copyright">Copyright</a></li>-->
          <li><a href="${reverse('help')}">Help &amp; tutorial</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>

    <div class="copyright">
        <p><span>
            ${_('Copyright {year}. All rights reserved.').format(
                year=date.today().year
            )}
        </span></p>
    </div>

    <div class="custom-logos" style="padding-top: 20px">
      <p>
        <img src="${static.url('themes/odltheme/images/odl.png')}" height="50" alt="ODL logo" />
        <img src="${static.url('themes/odltheme/images/icoop.png')}" height="50" alt="ICOOP logo" />
      </p>

    </div>
  </footer>
</div>
